@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Inter Regular';
  src: url(/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter Bold';
  src: url(/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url(/fonts/FoundersGrotesk-Bold.otf);
}
